*{
    box-sizin: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    margin: 10px;
    height: 7vh;
    border: 2px solid black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:indianred
    
}
#navBarOne{
 
}
.main{
    display:flex;
    flex-wrap: wrap;
}
.sidebar{
    margin-left: 2em;
    margin-right: 6em;
    /* for the margins I need to give a media query
    bcs in this way, in the mobile version the margins still exist
    they should't be */
    width: 100px;
    background: red; 
    flex: 1 0 auto;
}
.videoPlayer{
    margin-left: 4em;
    background: blue;
    /* I need to limit the height in some way
    otherwise the video section will follow the sider along the way */
    height: 500px;
 
}
.up-next {
    flex: 0 0 auto;
    width: 500px;
  }
 
  
  .up-next-item {
    display: flex;
  }
  
  .up-next-item-thumb {
    margin-right: 10px;
  }
  
  .up-next-item-title {
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .up-next-item-info {
    font-size: 0.9em;
    
  }

