*{
    box-sizin: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    margin: 10px;
    height: 7vh;
    display:flex;
    flex-direction: row;
    
    
}
#youtube{
    margin-right: 6em;
}
#mic{
    margin-right: 5em;
}
#misc{
    margin-right: 3em;
}
#search{
    width:40em;
    margin-top:2px;
}
#buyutec{
    
    width:5em;
    margin-top:2px;
}
#navBarOne{
 
}
.main{
    display:flex;
    flex-wrap: wrap;
}
.sidebar{
    margin-left: 2em;
    /*margin-right: 6em;*/
    /* for the margins I need to give a media query
    bcs in this way, in the mobile version the margins still exist
    they should't be */
    width: 100px;
    
    flex: 1 0 auto;
    display:flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 500px;
}
.videoPlayer{
    margin-left: 4em;
    
    /* I need to limit the height in some way
    otherwise the video section will follow the sider along the way */
    height: 500px;
   
 
}
.information{
    display:flex;
}
#title{
    margin-bottom: 1em;
}
#videoViews{
    margin-bottom:2em;
}
.user{
    margin-right:1em;
}
#subscribe{
    margin-left: 22em;
}
.commentsCount{
    display:flex;
    margin-top:2em;
}
#Comments228{
    margin-right: 3em;
}
.publicComment{
    display:flex;
    margin-top:1em;
}
.addComment{
   margin-top:1em;
   margin-left: 1em;
}
.cancelComment{
    display: flex;
    justify-content: flex-end;
}

.individualComment{
    display:flex;
    margin-top:1em;
}



.up-next {
    flex: 0 0 auto;
    width: 500px;
  }
 
  
  .up-next-item {
    display: flex;
  }
  
  .up-next-item-thumb {
    margin-right: 10px;
  }
  
  .up-next-item-title {
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .up-next-item-info {
    font-size: 0.9em;
    
  }

